.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0%;
  margin: 0%;
}
body {
  margin: 0%;
  padding: 0%;
}
.productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  float: right;
  padding: 1rem;
}

.product-card {
  border: 1px solid #ddd;

  padding-top: 4%;
  margin-left: 2rem;

  text-align: center;
  width: 20rem;

  margin-bottom: 4rem;
}

.heart-button {
  width: 20px;
  height: 20px;
  background-color: red;
  border: none;
  position: relative;
  transform: rotate(45deg);
  cursor: pointer;
  outline: none;
  margin-bottom: 1rem;
  display: flex;
  margin-left: 1rem;
}

.heart-button:before,
.heart-button:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}
.heart-button:before {
  top: -10px;
  left: 0;
}

.heart-button:after {
  top: 0;
  left: -10px;
}
.product-img {
  width: 150px;
  height: 200px;
  object-fit: contain;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
}
.Cartbtn {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #f5f5dc;
  font-size: large;
}
.Cartbtn:hover {
  background-color: #5fa052;
  color: white;
}
@media only screen and (max-width: 425px){

  .nav{
    background-color: beige;
    display: flex;
  }
  .nav h3{

    color: #5fa052;
    margin-left: 1rem;
  }
  .nav span{
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 0.5rem;

  
  }
  .nav span img {
    
    padding: 0.5rem;
    
  }
  .cartLength {
    position: absolute;
  right: 70%;
  top: 30%;
    color: #5fa052;
    font-size: 12px;
  }
  .wishLength {
    position: absolute;
    right: 35%;
    top: 30%;
    font-size: 12px;
    color: #5fa052;
  }


}

@media only screen and (min-width: 425px) {
  .nav {
    background-color: beige;
    padding: 1.1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  .nav h3 {
    padding: 0%;
    margin: 0;
    display: flex;
    font-size: 25px;
    font-weight: 550;
    color: #5fa052;
    margin-left: 3rem;
    cursor: pointer;
  }
  .nav span {
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 10%;
    right: 10%;
  }
  .nav span img {
    margin-left: 1rem;
    padding: 0.5rem;
  }
  .cartLength {
    position: absolute;
    right: 70%;
    top: 40%;
    color: #5fa052;
    font-size: 15px;
  }
  .wishLength {
    position: absolute;
    right: 35%;
    top: 40%;
    font-size: 15px;
    color: #5fa052;
  }

  .categoryContiner {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 1rem;
  }
  .categoryContiner div {
    border: 1px solid black;
    border-radius: 50%;
    width: 20%;
    padding: 0.5rem;
    margin-left: 0.5rem;
    background-color: white;
    border: 2px solid #5fa052;
    font-size: 20px;
  }
  .categoryContiner div:hover {
    background-color: beige;
  }
  .homePgContainer {
    margin-top: 3rem;
  }
  .homeContainer footer {
    background-color: beige;
    height: 45vh;
  }
  .footerUl {
    display: flex;
    justify-content: space-around;
  }
  .footerUl div {
    padding: 1rem;
    text-align: left;
  }
  .footerUl h3 {
    color: #5fa052;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  .footerUl h4 {
    margin-top: 0.5%;
    font-weight: 500;
    margin-block: 1%;
  }
  .about p {
    margin-block: 5%;
  }

  .productGrid {
    margin-top: 4rem;
  }
  .filterBar {
    position: fixed;
    width: 20%;
    height: 100vh;
    border-right: 1px solid #5fa052;
    margin-top: 4rem;
  }
  .filterBar ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
  }
  .filterBar ul li {
    margin-left: 20%;
    text-align: left;
  }
  .filterBar ul p {
    margin-left: 20%;
    text-align: left;
  }
  .rangeV {
    margin-left: 0%;
    padding-left: 0%;
    font-size: 15px;
    font-weight: 400;
  }
  .custom-range-slider {
    width: 50%; /* Adjust the width */
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
  }

  .custom-range-slider:hover {
    opacity: 1;
  }

  .custom-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: beige;
    cursor: pointer;
    border-radius: 50%;
  }

  .custom-range-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
  }

  .SignUpContainer {
    padding-top: 7rem;
  }
  .SignUpContainer div {
    margin: auto;
    width: 25rem;

    box-shadow: 0px 4px 8px #5fa052;
  }
  .SignUpContainer span {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
  }
  .SignUpContainer h3 {
    font-weight: 500;
    color: #518945;
    font-size: 23px;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }
  .SignUpContainer h4 {
    font-size: 16px;
    font-weight: 500;
  }
  .SignUpContainer input {
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    outline: none;
  }
  .SignUpContainer button {
    width: 50%;
    margin: auto;
    padding: 0.3rem;
    font-size: 15px;
    margin-top: 1rem;
    background-color: #5fa052;
    color: white;
    border: none;
    border-radius: 0.5rem;
  }
  .SignUpContainer button:hover {
    background-color: #518945;
  }
  .SignUpContainer span p {
    font-size: 15px;
    padding-bottom: 1rem;
  }
  .loginContainer {
    padding-top: 7rem;
  }
  .loginContainer div {
    box-shadow: 0px 4px 8px #5fa052;
    margin: auto;
    width: 25rem;
  }
  .loginContainer h3 {
    font-weight: 500;
    color: #518945;
    font-size: 23px;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }
  .loginContainer h4 {
    font-size: 16px;
    font-weight: 500;
  }
  .loginContainer span {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
  }
  .loginContainer input {
    margin-bottom: 0.5rem;
    padding: 0.2rem;
  }
  .loginContainer p {
    padding: 1rem;
  }
  .LoginBtn {
    width: 40%;
    margin: auto;
    padding: 0.2rem;
    font-size: 15px;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #5fa052;
    border: none;
    color: white;
  }
  .LoginBtn:hover {
    background-color: #518945;
  }
  .guestBtn {
    background-color: white;
    width: 40%;
    padding: 0.2rem;
    margin: auto;
    border-radius: 0.5rem;
    border: 1px solid #5fa052;
    font-size: 15px;
  }
  .guestBtn:hover {
    background-color: #518945;
    color: white;
  }
  .ProdDetailContainer {
    padding-top: 4rem;
  }
  .ProdDetailDiv {
    margin: auto;
    width: 40rem;

    margin-top: 3rem;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .ProdDetailDiv span {
    display: flex;
  }
  .ProdDetailDiv span div {
    width: 50%;
  }
  .ProdDetailDiv span div img {
    width: 320px;
    height: 300px;
  }
  .detailBar {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
  }
  .detailBar p {
    margin-bottom: 0%;
    margin-top: 2%;
    font-size: 14px;
    display: flex;
    color: gray;
  }
  .detailBar h5 {
    margin-bottom: 0%;
    margin-top: 2%;
    font-size: 15px;
    display: flex;
    color: black;
  }
  .detailBar h3 {
    margin-bottom: 0%;
  }
  .detailBar h4 {
    margin-top: 1%;
    font-size: 18px;
    color: gray;
    margin-bottom: 0%;
  }
  .ratingD {
    font-size: 15px;
  }
  .detailBar hr {
    width: 300px;
    color: gray;
  }
  .detailBar span {
    color: black;
  }
  .CartbtnDetail {
    width: 70%;
    margin-top: 3%;
    background-color: beige;
    border: none;
    padding: 0.3rem;
    font-size: 15px;
    border-radius: 0.5rem;
  }
  .CartbtnDetail:hover {
    background-color: #5fa052;
    color: white;
  }
  .WishbtnDetail {
    width: 70%;
    margin-top: 3%;
    background-color: white;
    border: 1px solid #5fa052;
    padding: 0.3rem;
    font-size: 15px;
    border-radius: 0.5rem;
  }
  .WishbtnDetail:hover {
    background-color: #5fa052;
    color: white;
  }
  .cartBar {
    border: 1px solid black;
    position: absolute;
    margin-top: 4rem;
    right: 0%;
    width: 35rem;
    height: 80vh;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background-color: beige;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    text-align: left;

    overflow-y: auto;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .close-button {
    position: absolute;

    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  .sidebar span {
    display: flex;
    flex-direction: column;
  }
  .sidebar p {
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
  .sidebar span {
    display: flex;
    flex-direction: row;

    margin: auto;
    width: 30rem;
  }
  .sidebar span p {
    border: 1px solid #5fa052;
    padding: 0.5rem;
    width: 10rem;
  }
  .CartContainer {
    display: flex;
    border-bottom: 1px solid gray;
  }
  .imgDiv {
    width: 30%;

    padding: 1rem;
  }
  .imgDiv img {
    width: 100px;
  }
  .dustbin {
    position: absolute;
    right: 10%;
  }
  .detailDiv {
    width: 100%;
  }
  .barTitle {
    font-weight: 600;
  }
  .Qtspan {
    border: 1px solid #5fa052;
    display: flex;
    justify-content: center;
    width: 25%;
    height: 6vh;
    background-color: beige;

    margin-left: 1rem;
  }
  .Qtspan button {
    width: 50%;
    font-size: 20px;
    background-color: beige;
    border: none;
  }
  .Qtspan p {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
  }
  .wishBtnBar {
    width: 40%;
    margin-top: 3%;
    background-color: beige;
    border: 1px solid #5fa052;
    padding: 0.3rem;
    font-size: 15px;
    border-radius: 0.5rem;
  }
  .wishBtnBar:hover {
    background-color: #5fa052;
    color: white;
  }
  .checkoutCart {
    background-color: beige;
    position: sticky;
    bottom: 0;
  }
  .checkoutCart button {
    width: 100%;
    padding: 1rem;
    font-size: 18px;
    background-color: #5fa052;
    border: none;
    color: beige;
  }
  .checkoutCart button:hover {
    background-color: #518945;
  }
  .homeContainer {
    padding-top: 4rem;
  }
  .homeMain {
    display: flex;
    width: 100%;
    margin: auto;
  }

  .image-container {
    margin: auto;
    width: 100%;
    margin-top: 1rem;
  }
  .home-bg {
    background: url("https://img.freepik.com/premium-psd/high-angle-book-mock-up-with-glasses-coffee_23-2148657172.jpg?w=900");
    width: 70%;
    margin: auto;

    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
  }
  .userContainer {
    padding-top: 7rem;
  }
  .userChild {
    width: 35rem;
    margin: auto;
  }
  .userChild button {
    width: 50%;
  }
  .toggleUser {
    border: none;
    background-color: #5fa052;
    color: white;
    font-size: 16px;
    padding: 0.3rem;
  }
  .toggleUser:hover {
    background-color: #518945;
  }
  .ProfileUser {
    text-align: left;
    padding: 1rem;
  }
  .ProfileUser button {
    width: 30%;
    color: red;
    background-color: white;
    font-weight: 550;

    padding: 0.3rem;
    border: 1px solid red;
    border-radius: 0.5rem;
    font-size: 15px;
  }
  .ProfileUser button:hover {
    background-color: red;
    color: white;
  }
  .AdressDiv {
    margin: auto;
  }
  .AdressDiv div {
    width: 20rem;
    margin: auto;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid gray;
  }
  .AddAdBtn {
    margin: auto;
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
    text-align: left;
  }
  .deleteBtn {
    border: 1px solid red;
    background-color: white;
    padding: 0.3rem;
    color: red;
    border-radius: 0.5rem;
  }
  .deleteBtn:hover {
    background-color: red;
    color: white;
  }
  .newAdress {
    margin: auto;
    padding: 1rem;
  }
  .newAdress input {
    margin-bottom: 0.5rem;
  }
}
